mixin drawer(id, drawer)
  div.tab-pane.fade(id="global-header-drawer-#{id}", role="tabpanel")
    div.container
      div.row
        div.col-md-11.col-xs-12.global-header-drawer-title
          a(href=drawer.link) #{drawer.title}
        div.col-md-1.global-header-close.hidden-sm-down
          a(href="#global-header-drawers" data-target="#global-header-drawers" data-toggle="collapse") Close
      div.row
        each column in drawer.links
          div.col-md-4.col-xs-12
            ul.global-header-list
              each menu in column
                li
                  a(href=menu.link)= menu.title
                  if menu.links
                    ul.global-header-sublist
                      each link, title in menu.links
                        li
                          a(href=link)= title
