<!DOCTYPE html>
html
    head
        meta(http-equiv="Content-Type",
            content="text/html; charset=UTF-8")

        title CamPL-NG: #{page.title}

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="shortcut icon", href="/favicon.ico")

        link(rel="stylesheet", href="/css/campl.css")
        link(rel="stylesheet", href="/css/datetimepicker.css")

        script(src='https://code.jquery.com/jquery-2.1.4.min.js'
            integrity='sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw='
            crossorigin='anonymous')

        link(rel="stylesheet", href="/css/demo.css")

    body.offcanvas.offcanvas-left.theme-theme-turquoise
        block body
            p Hello, world

        script(type="text/javascript", src="/js/campl.js")
        script(type="text/javascript", src="/js/datetimepicker.js")
        script(type="text/javascript", src="/js/demo.js")
