nav.navbar.navbar-local.container.hidden-sm-down
  div
    ul.nav.navbar-nav.nav-local
      li.nav-item
        a.nav-link(href="/") Home
      each _page in PAGES
        if _page.children.length == 0
          li.nav-item(class=_page.title==page.horizontal_breadcrumb[1][0] ? "active":"")
            a.nav-link(href='/' + _page.get_url()) #{_page.title}
        else
          li.nav-item.dropdown(class=_page.title==page.horizontal_breadcrumb[1][0] ? "active":"")
            a.nav-link.dropdown-toggle(href='/' + _page.get_url(), data-toggle="dropdown")= _page.title
            ul.dropdown-menu
              if _page.source
                li
                  a.dropdown-item(href='/' + _page.get_url()) #{_page.title} - Overview
              each __page in _page.children
                li
                  a.dropdown-item(href='/' + __page.get_url()) #{__page.title}
      include ../meta/theme_switcher.jade
