div.vertical-menu.vertical-menu-inset.collapse#vertical-menu(class=page.side_menu ? "navbar-toggleable-sm" : "hidden-md-up")
  ul.nav.nav-pills.nav-stacked.nav-side.vertical-menu-ancestors
    each _page in page.vertical_breadcrumb
      li.nav-item
        a.nav-link(href=_page[1])= _page[0]
  ul.list-unstyled.vertical-menu-siblings
    li.vertical-menu-parent
      if page.vertical_breadcrumb_parent[1]
        a(href=page.vertical_breadcrumb_parent[1])= page.vertical_breadcrumb_parent[0]
      else
        span= page.vertical_breadcrumb_parent[0]
      if page.vertical_breadcrumb_children.length > 0
        ul.list-unstyled.vertical-menu-children
          each _page in page.vertical_breadcrumb_children
            if _page[0] == page.title
              li
                span= _page[0]
            else
              li
                a(href=_page[1])= _page[0]
    for _page in page.vertical_breadcrumb_siblings
      if _page[0] != page.vertical_breadcrumb_parent[0]
        li
          a(href=_page[1])= _page[0]
